@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: black;
}
.banner__title{
    font-size: 144px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#banner{
    background-image: url("assets/rvk1 2.png");
    background-repeat: no-repeat;
    background-position:bottom;
    height: 1140px;

}
